
<nav class="fixed-top">
<div id="navbar" class="container-fluid">
  <div class="row">
    <div class="col navCol leftNav" style="justify-content: left;">
      Kwiatki<br>Z Chatki
      <li class="buttonElement" style="justify-content: left;"><a href="#"><img class="logo" src="../../../assets/logo2.svg" style="margin-left: 10px"></a></li>
    </div>
    <div class="col navCol" style="justify-content: space-around;">
        <li class="buttonElement"><a href="#gallery">GALLERY</a></li>
      <li class="buttonElement"><a href="#about">ABOUT</a></li>
        <li class="buttonElement"><button routerLink="booking">BOOK</button></li>
    </div>
    <div class="col navCol" style="justify-content: right;">
     <li class="icon buttonElement"><a class="black" href="https://facebook.com"><i class="fab fa-facebook-square"></i></a></li>
      <li class="icon buttonElement"><a class="black" href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
    </div>
  </div>
</div>
</nav>
