#navbar {
  transition: 0.4s ease-in;
  height: 8vh;
  background: transparent;
}

.row{
  display: flex;
  justify-content: space-between;
}

.navCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 7vh;
  width: 7vh;
  transition: 0.3s ease-in;
}

.logo:hover {
  height: 8vh;
  width: 8vh;
}



.buttonElement {
  transition: font 0.3s ease-in;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #455d58;
  font-size: 25px;
  line-height: 20px;
  font-family: 'Dosis', sans-serif;
  height: 8vh;
}
.buttonElement:hover{
  font-size: 30px;
}

button {
  transition: 0.3s ease-in;
  background-color: #455d58;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 23px;
}

button:hover {
  padding: 14px 25px;
  font-size: 30px;

}


.leftNav {
  font-size: 21px;
  font-family: 'Libre Baskerville', sans-serif;
}

.icon {
  width: 20%;
  transition: font 0.3s ease-in;
  font-size: 35px;
}

.icon:hover {
  font-size: 45px;
}

a {
  text-decoration: none;
  color: #455d58;
  margin: 0;
  padding: 0;
}
a.black{
  color: black;
}

