<div class="mainComponent">
  <div class="formWrapper">
  <form class="form">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input #inputName type="text" class="form-control" id="inputName" >
    </div>
    <div class="form-group">
      <label for="inputLocation">Location</label>
      <input #inputLocation type="text" class="form-control" id="inputLocation">
    </div>
    <div class="form-group">
      <label for="inputPhoneNumber">Phone number</label>
      <input #inputPhone type="tel" class="form-control" id="inputPhoneNumber">
    </div>
    <div class="form-group">
      <label for="inputLocation">Email</label>
      <input #inputEmail type="email" class="form-control" id="inputEmail">
    </div>
  </form>
  </div>
  <div class="calendarWrapper">
  <p>Simple datepicker</p>
  <div class="calendar">
    <ngb-datepicker [(ngModel)]="model" #dp [dayTemplate]="customDay" (navigate)="changeMonth($event.next)"></ngb-datepicker>
  </div>
    <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <div class="custom-day" [class.diffMonth]="date.month != date1.month"[class.focused]="selected" [class.reservedDay]="isDayReserved(date)" [class.unavailableDay]="isDayUnavailable(date)">
    {{ date.day }}
  </div>
    </ng-template>
  <div>
  <hr/>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
  <hr/>
  </div>
    <pre>Date: {{date1.day}}.{{date1.month}}.{{date1.year}}</pre>
    <button type="submit" (click)="createOrder(inputName.value, inputEmail.value, inputLocation.value, inputPhone.value)" class="btn btn-primary">Submit</button>
</div>
</div>
