.mainComponent{
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarWrapper{
  background: rgba(255, 224, 236, 0.4);
  padding: 5vh;
  display: flex;
  min-height: 75vh;
  flex-direction: column;
}
.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
}
ngb-datepicker{
  background: #c6b0b0;
}
.btn-light{
  width: 4rem !important;
  height: 4rem;
}
.form{
  padding: 5vh;
  background: rgba(0, 0, 0, 0.57);
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
