@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Dosis:500|Junge|Libre+Baskerville&display=swap');
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
